@media screen and (max-width: 480px) {
    .loadingView {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #fff;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .spinner {
        position: relative;
        width: 56px;
        height: 56px;
        border: solid 8px #4b81ee;
        border-radius:  50%;
        border-top: solid 8px transparent;
        animation: spinLoading .5s linear infinite;
    }

    @keyframes spinLoading {
        0%{
            transform: rotate(0deg);            
        }
        100% {
            transform: rotate(360deg);
        }
    }
}